

/* NAVBAR */

body{
  background-color: #F9FAEF;
  padding-top: 70px;
}

.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-direction: row;
  opacity: 0.98;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #F9FAEF;

  /* border-color: black; */
  /* background-color: rgb(222, 239, 218); */
  /* background-color: #F9FAEF;

  border-width: thin;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25); */
}

.navbar-title {
  font-size: 30px;
}

.title-section {
  display: flex;
  margin-left: 20px;
  align-items: center;
}

.header-logo {
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}

.right-section {
  margin-right: 50px;
  display: flex;
  align-items: center;
}


.header-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin-right: 50px;
}

.header-link:hover {
  color: rgb(19, 97, 19);
}

.header-link:active {
  color: rgb(9, 75, 9);
}



.calendarcomponent{
  padding-top: 15px; /* an override! */
  padding-bottom: 15px; /* an override! */
  padding-right: 15px;
  padding-left: 15px;
}