body {
  background-color: #F9FAEF;
  padding-top: 70px;
}

.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #F9FAEF;
}

.navbar-title {
  font-size: 30px;
}

.title-section {
  display: flex;
  margin-left: 20px;
  align-items: center;
}

.header-logo {
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}

.right-section {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.links-container {
  display: flex;
  align-items: center; /* Align links vertically */
}

.header-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin-right: 20px;
}

.header-link:hover {
  color: rgb(19, 97, 19);
}

.header-link:active {
  color: rgb(9, 75, 9);
}

.header-link-button {
  padding: 10px 20px;
  background-color: rgb(19, 97, 19);
  color: white;
  border-radius: 0px;
  text-decoration: none;
  margin-right: 20px;
}

.header-link-button:hover {
  background-color: rgb(9, 75, 9);
}


.directory-link {
  position: relative;
  /* margin-right: 20px;  */
}
.login-link {
  position: relative;
  /* margin-right: 20px;  */
}

.directory-options {
  display: none;
  position: absolute;
  top: 100%;
  margin-top: -18px;
  left: 0;
  background-color: #F9FAEF;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.login-options {
  display: none;
  position: absolute;
  top: 100%;
  margin-top: -18px;
  left: 0;
  background-color: #F9FAEF;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}



.options-container {
  display: flex;
  flex-direction: column;;
}

.directory-link:hover .directory-options {
  display: block;
}
.login-link:hover .login-options {
  display: block;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-left: auto;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px;
  transition: 0.3s;
}

@media (max-width: 768px) {
    .header {
      margin-bottom: 100px;
      /* height:100px; */
  }

  .navbar-title {
    font-size: 20px;
  }

  .links-container {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #F9FAEF;
    width: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  }

  .links-container.show {
    display: flex;
  }

  .header-link,
  .header-link-button {
    display: block;
    margin: 10px 20px;
  }

  .hamburger {
    display: flex;
  }
}
.login-options {
  position: absolute;
  top: 50px;
  z-index: 300;
  background-color: #476730;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  width: 100px;
  padding: 14px 8px 14px 10px;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  display: flex;
  align-items: center;
}

.login-link {
  height: 35px;
  display: flex;
  align-items: center;
}

.login-link:hover .login-options {
  opacity: 1;
  pointer-events: auto;
}

.login-options:hover {
  opacity: 1;
  pointer-events: auto;
}


.admin-option-login {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: solid;
}

.teacher-option-login {
  width: 100%;
  padding-top: 10px;
}

.admin-option-login,
.teacher-option-login,
.admin-link-login,
.teacher-link-login {
  color: #F9FAEF;
  text-decoration: none;
}

.admin-option-login:hover,
.teacher-link:hover {
  color: rgb(212, 212, 212);
}

.admin-link-login:active,
.teacher-link-login:active {
  color: rgb(180, 180, 180);
}


/* MATERIAL UI FIXES */

.MuiTablePagination-selectLabel {
  margin-bottom: 0;
}

.MuiTablePagination-displayedRows {
  margin-bottom: 0px;
}
